
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
body{
    width: 1600px;
    margin: 0px;
}
/* nav starts */
nav{
    background-color: #1A0B2E;
    color: white;

}
#nav-container{
    width: 1600px;
    height: 92px;
    padding: 30px 200px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
span{
    background: linear-gradient(#F7E93F, #FB09B4, #9100F8);
    background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    
}
 nav, ul{
    display: flex;
 }

 ul, a{
    list-style: none;
    text-decoration: none;
    gap: 32px;
    color: white;
 }

 .nav-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 4px;
    width: 135px;
    height: 44px;
    background: linear-gradient(#F7E93F, #FB09B4, #9100F8);
    color: white;
    border-radius: 20px;
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.6s ease-in-out;
 }

 .nav-btn:hover {
    transform: scale(1.1);
}
 /* nav ends */

 /* hero starts */
 #hero-banner{
    max-height: 760px;
    background-image: url("assets/hero-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding:100px 525px;
 }
#hero-container{
    width: 550px;
    height: 558px;
    text-align: center;
    align-items: center;   
}
#img-container{
    width: 350px;
    height: 350px;
    position:relative ;
    margin-left: 100px ;
}
.bg-circle{
    width: 100%;
    display: block;
}
.top-microphone{
    position: absolute;
    top: 85px;
    right: 115px;
}

.new-pic{
    position: absolute;
    top: 0px;
    right: 0px;
}
#hero-h1{
    color: white;
    margin: auto;
    font-size: 60px;
    font-weight: 700;
}
#hero-p{
    color: white;
    opacity: 60%;
    margin-bottom: 24px;
}
#hero-btn-container{
    display: flex;
    justify-content: center;
    gap: 10px;
}

#hero-btn-1{
    width: 201px;
    height: 44px;
    display: flex;
    justify-content: center;
    gap: 8px;
    text-align: center;
    align-items: center;
    color: white;
    border-radius: 24px;
    cursor: pointer;
    background: linear-gradient( #F7E93F, #FB09B4, #9100F8);
    transform: scale(1);
    transition: transform 0.6s ease-in-out;
}
#hero-btn-1:hover {
    transform: scale(1.1);
}
#hero-btn-2{
    width: 147px;
    height: 44px;
    display: flex;
    justify-content: center;
    gap: 8px;
    text-align: center;
    align-items: center;
    color: #00FF88;
    border-radius: 24px;
    border: 2px solid #00FF88;
    cursor: pointer;
    background-color: transparent;
    transform: scale(1);
    transition: transform 0.6s ease-in-out;
}
#hero-btn-2:hover {
    transform: scale(1.1);
}
.bt-text-1{
    width: 16px;
    height: 16px;
}
.bt-text-2{
    width: 18px;
    height: 14px;
}
/* hero ends */

/* about starts */
#about-container{
    max-width:1600px;
    max-height: 646px;
    padding: 100px 200px;
    text-align: center;
    background-color: #1A0B2E;
}

#about-header-container{
    color: white;
    width: 1200px;
    height: 222px;
    border: 2px solid black;
    margin-bottom: 160px;
}

#about-header{
    font-size: 48px;
    font-weight: 800;
    margin: 10px auto;
}

.description{
    line-height: 30px;
    opacity: 60%;
}

#about-statistic{
    color: white;
    width: 1200px;
    height: 94px;
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
}
.statistic-icon{
    font-size: 48px;
    font-weight: 900;
    color:#00FF88;
}
/* about ends */

/* Choose sec Starts */
#choose{
    height: 1121px;
    background-color: #230E3D;
    color: white;
}
#choose h2{
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    margin: 0px;
    padding: 120px 200px 0px 200px;
}
#choose-grid-container{
    width: 1200px;
    height: 800px;
    text-align: left;
    margin: 40px 200px 120px 200px;
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 250px);
}
.audio{
    grid-column: span 1;
    grid-area: span 2;
    border-radius: 16px;
    background-color: rgba(53, 17, 101, 0.4);
    padding: 100px 40px;
}
.mobile{
    grid-column: span 2;
    grid-row: span 1;
    border-radius: 16px;
    background-color: rgba(53, 17, 101, 0.4);
    padding: 48px 40px;
}
.global{
    grid-column: span 2;
    grid-row: span 1;
    border-radius: 16px;
    background-color: rgba(53, 17, 101, 0.4);
    padding: 48px 40px;
}
.interview{
    grid-column: span 2;
    grid-row: span 1;
    border-radius: 16px;
    background-color: rgba(53, 17, 101, 0.4);
    padding: 32px 40px;
}
.resources{
    grid-column: span 1;
    grid-row: span 1;
    border-radius: 16px;
    background-color: rgba(53, 17, 101, 0.4);
    padding: 32px 40px;
}
.choose-card-heading{
    font-size: 24px;
    font-weight: 700;
    margin: 16px 0px;
}
.choose-card-description{
    opacity: 60%;
    line-height: 24px;
}

/* choose sec ends */
 
/* Featured starts */
#featured{
    max-height: 1276px;
    color: white;
    background-color: rgba(26, 11, 46, 1);
    padding: 120px 200px;
}
.featured-head{
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom : 32px;
}
#featured-card-container{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.featured-card{
    width: 380px;
    height: 440px;
    background-color: #250D44;
    border-radius: 16px;
    text-align: left;
   
}
.featured-card p{
    opacity: 60%;
    line-height: 24px;
    padding: 0px 16px;
}
.featured-card h5{
    font-size: 24px;
    font-weight: 700;
    margin: 16px 0px;
    padding: 0px 16px;
}
.frame{
    width: 380px;
    height: 214px;
    border-radius: 8px;
    border: none;
}
.time{
    display: flex;
    justify-content: left;
    gap: 4px;
    padding: 16px;
    color: #00FF88;
}
.time img{
    width: 20px;
    height: 20px;
}


#host{
    width: 1200px;
    height: 378px;
    border-radius: 8px;
    margin-top : 120px;
    color: white;
    
}


#host-container{
    max-height: 280px;
    display: flex;
    justify-content: center;
    gap: 24px;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 16px;
    padding: 40px;
}
#host-container h3{
    font-size: 32px;
    font-weight: 700;
    margin: 16px auto;
}
#host p{
    margin: 16px auto 8px auto;
    opacity: 60%;
    line-height: 24px;
}
#host-social-container{
    margin: 0px;
    padding: 0px;
    gap: 8px;
}
.host-social{
    padding: 0px;
    margin: 0px;
}






/* footer starts */
#footer{
    max-width: 1600px;
    max-height: 412px;
    color: white;
    padding: 120px;
    background-image: url(assets/footer-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#footer-container{
    text-align: center;
}
#footer-container h1{
    font-size: 60px;
    font-weight: 900;
    margin: 10px;
}
.align{
    display: flex;
    gap: 8px;
}
.align a{
    opacity: 60%;
}
#social{
    display: flex;
    text-align: center;
    align-items: center;
    gap: 48px;
    margin-left: 370px;
}
#copyright{
    opacity: 60%;
}
hr{
    color: #250D44;
}
/*footer ends */


