
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
body{
    width: 1600px;
    margin: 0px;
}
/* nav starts */
nav{
    background-color: #1A0B2E;
    border: 2px solid white;
    color: white;

}
#nav-container{
    width: 1600px;
    height: 92px;
    border: 2px solid white;
    padding: 30px 200px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
span{
    color: aqua;
}
 nav, ul{
    display: flex;
 }

 ul, a{
    list-style: none;
    text-decoration: none;
    gap: 32px;
    color: white;
 }

 .nav-btn{
    width: 135px;
    height: 44px;
    background-color: bisque;
    border-radius: 20px;
    cursor: pointer;
 }
 /* nav ends */

 /* hero starts */
 #hero-banner{
    max-height: 760px;
    background-image: url("assets/hero-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding:100px 525px;
 }
#hero-container{
    width: 550px;
    height: 558px;
    border: 4px solid white;
    text-align: center;
    align-items: center;   
}
#img-container{
    width: 350px;
    height: 350px;
    border: 2px solid white;
    background-image: url("assets/hero-circle.png");
}
#hero-h1{
    color: white;
    margin: auto;
    font-size: 60px;
    font-weight: 900;
}
#hero-p{
    color: white;
}
#hero-btn-container{
    display: flex;
    justify-content: center;
    gap: 10px;
}

#hero-btn-1{
    width: 201px;
    height: 44px;
    display: flex;
    justify-content: center;
    gap: 8px;
    text-align: center;
    align-items: center;
    color: white;
    border-radius: 20px;
    border: 2px solid white;
    cursor: pointer;
    background-color: transparent;
}
#hero-btn-2{
    width: 147px;
    height: 44px;
    display: flex;
    justify-content: center;
    gap: 8px;
    text-align: center;
    align-items: center;
    color: #00FF88;
    border-radius: 20px;
    border: 2px solid #00FF88;
    cursor: pointer;
    background-color: transparent;
}
.bt-text-1{
    width: 16px;
    height: 16px;
}
.bt-text-2{
    width: 18px;
    height: 14px;
}
/* hero ends */

/* about starts */
#about-container{
    max-width:1600px;
    max-height: 646px;
    padding: 100px 200px;
    text-align: center;
    background-color: #1A0B2E;
    border: 2px solid white;
}

#about-header-container{
    color: white;
    width: 1200px;
    height: 222px;
    border: 2px solid black;
    margin-bottom: 160px;
}

#about-header{
    font-size: 48px;
    font-weight: 800;
    margin: 10px auto;
}

#about-header-container .description{
    line-height: 30px;
    opacity: 80%;
}

#about-statistic{
    color: white;
    width: 1200px;
    height: 94px;
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
}
.statistic-icon{
    font-size: 48px;
    font-weight: 900;
    color:#00FF88;
}
/* about ends */

/* Choose sec Starts */
#choose{
    height: 1121px;
    background-color: #230E3D;
    color: white;
}
#choose h2{
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    margin: 0px;
    padding: 120px 200px 40px 200px;
}
#choose-grid-container{
    width: 1200px;
    height: 782px;
    border: 2px solid white;
    margin: 40px 200px 120px 200px;
}

/* choose sec ends */
 
/* Featured starts */
#featured{
    height: 1276px;
    color: white;
    background-color: #1A0B2E;
    padding-bottom: 50px;
}
#featured h2{
    text-align: center;
    font-size: 48px;
    font-weight: 800;
    margin: 0px;
    padding: 120px 200px 40px 200px;
}
#featured-card-container{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.featured-card{
    width: 380px;
    height: 440px;
    border-radius: 8px;
    text-align: center;
    padding: 16px;
    border: 2px solid white;
}
.featured-card h5{
    font-size: 24px;
    font-weight: 800;
}


#host{
    border-radius: 8px;
    margin: 120px 200px;
    color: white;
    
}

#host h2{
    text-align: center;
    font-size: 48px;
    font-weight: 800;
}

#host-container{
    width: 1200px;
    height: 280px;
    display: flex;
    justify-content: center;
    gap: 24px;
    background-color: #533C72;
    border-radius: 16px;
    padding: 40px;
}
#host-container h3{
    font-size: 32px;
    font-weight: 800;
}








/* footer starts */
#footer{
    max-width: 1600px;
    max-height: 412px;
    color: white;
    padding: 120px;
    background-image: url(assets/footer-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#footer-container{
    border: 2px solid white;
    text-align: center;
}
#footer-container h1{
    font-size: 60px;
    font-weight: 900;
    margin: 10px;
}
.align{
    display: flex;
    gap: 10px;
}
#social{
    text-align: center;
    align-items: center;
    margin-left: 370px;
}
/*footer ends */